/* mubashir -> */
* {
  box-sizing:border-box;
}

.column {
    float: left;
    width: 33.33%;
    height: 100%;
    padding: 0;
}

.container {
/*    position: relative;
    float: left;  */
    width: 100%;
    height: 100%;
    padding: 0;
/*    overflow: auto;
    visibility: hidden;*/ 
}

.section {
    width: 100%;
    height: 100vh;
}

.row {
    display: table;
}

.hover08 {
	-webkit-filter: grayscale(85%);
	filter: grayscale(85%);
	-webkit-transition: .1s ease-in-out;
	transition: .0.5s ease-in-out;
    width: 100%;
}
.hover08:hover {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}

  
body{
    background-image:url(marco-mons-ROWNIiEV9iM-unsplash.jpg);
  }
  
  .fireflies{
    
    animation: move 4500ms infinite alternate ease-in-out;
    
    position:absolute;
    width:10px;
    height:10px;
  /*   top:50%;
    left:50%; */
    background:rgb(0, 60, 255);
    border-radius:100%;
    -webkit-box-shadow: 0px 0px 10px 10px rgb(19, 19, 105);
    -webkit-box-shadow: 0px 0px 10px 10px rgb(19, 19, 105);;
     box-shadow: 0px 0px 10px 10px rgb(19, 19, 105);;
    
  }
  
  @keyframes move {
    0% {
      offset-distance: 0%;
    }
    100% {
      offset-distance: 100%;
    }
  }
  
  .anim1{
    offset-path: path('M5 47c0,0 6,-53 53,-43 46,10 61,41 114,39 53,-2 136,-17 136,-17');
  }
  
  .anim2{
    offset-path: path('M20,20 C20,100 200,20 200,100');
  }
  
  .anim3{
    offset-path: path('M364 44c0,0 -19,-13 -48,-16 -28,-3 -48,4 -87,17 -39,13 -69,8 -87,1 -18,-6 -32,-23 -70,-21 -38,2 -52,21 -52,21');
  }
  
  .anim4{
    offset-path: path('M25 119c-8,-17 -26,-48 -5,-66 22,-18 54,-29 79,-28 25,2 60,36 142,14 83,-22 134,20 134,20')
  }
  
  .revese{
    motion-rotation: reverse;
  }
  
  .btn{
    border-radius:10%;
  }
  
/* Owais -> */
input {
    position: fixed;
    opacity: 0;
}
label {
    position: absolute;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}
label::before {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(10, 38, 57, .75);
    content: '';
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
label .burger {
    position: fixed;
    top: 1em;
    left: 1em;
    z-index: 3;
    width: 2em;
    height: 2em;
    margin: 0;
    padding: 0;
    transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
label .burger::before, label .burger .bar, label .burger::after {
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    height: 12%;
    background: white;
    content: '';
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
label .burger .bar {
    top: 44%;
}
label .burger::before {
    top: 0;
    transform-origin: top left;
}
label .burger::after {
    bottom: 0;
    transform-origin: bottom left;
}
input:focus + label .burger, label:hover .burger {
    opacity: 0.75;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    transform: translate3d(0, 0, 0);
   /* material acceleration */
    transform: translateX(-100%);
    will-change: transform;
    transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
nav::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 25em;
    background: #12c41b;
    content: '';
    transform: skewX(15deg) translateX(-100%);
    transform-origin: bottom left;
    will-change: transform;
    transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
@media (min-width: 40em) {
    nav::before {
        width: 40em;
   }
}
nav a {
    margin: 0.5em 0;
    padding: 0.2em 2em;
    font-size: 1.5em;
    color: white;
    text-decoration: none;
    font-weight: 500;
    transform: translateX(-100%);
    transition: color 0.15s, transform 0.5s;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
nav a:nth-child(1) {
    transition-delay: 0s, 100ms;
}
nav a:nth-child(2) {
    transition-delay: 0s, 150ms;
}
nav a:nth-child(3) {
    transition-delay: 0s, 200ms;
}
nav a:nth-child(4) {
    transition-delay: 0s, 250ms;
}
nav a:nth-child(5) {
    transition-delay: 0s, 300ms;
}
nav a:nth-child(6) {
    transition-delay: 0s, 350ms;
}
nav a:hover, nav a:focus {
    color: black;
}
main {
    overflow: hidden;
}
main .content {
    transform: translate3d(0, 0, 0);
   /* material acceleration */
    will-change: transform, filter;
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
[id="navcheck"]:checked + label::before {
    opacity: 1;
    pointer-events: auto;
}
[id="navcheck"]:checked + label .burger::before, [id="navcheck"]:checked + label .burger::after {
    width: 141.42%;
}
[id="navcheck"]:checked + label .burger::before {
    transform: rotate(45deg) translateY(-50%);
}
[id="navcheck"]:checked + label .burger::after {
    transform: rotate(-45deg) translateY(50%);
}
[id="navcheck"]:checked + label .burger .bar {
    transform: scale(0.1);
}
[id="navcheck"]:checked ~ nav {
    transform: translateX(0);
}
[id="navcheck"]:checked ~ nav::before {
    transform: skewX(15deg) translateX(0);
}
[id="navcheck"]:checked ~ nav a {
    transform: translateX(0);
}
[id="navcheck"]:checked ~ main .content {
    transform: translateX(3em);
    transform-origin: left center;
    filter: blur(2px);
}
/* helper */
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
/* misc */
body {
    overflow-x: hidden;
    color: rgb(0, 0, 0);
    font: 1em/1.4 "lato";
    background-color: black;
    height: 100vh;
    width: 100vw;
}
main {
    padding: 5% 0;
}
article {
    width: 80%;
    margin: 0 auto;
    font-size: 1.3em;
}
@media (min-width: 60em) {
    article {
        width: 50%;
   }
}
h1 {
    font: 2.5em/1.4 "roboto condensed";
    font-weight: 700;
}

.animate__animated.animate__bounceInUp{
    color: rgb(255, 255, 255);
    font-size: smaller;
    margin-top: 30%;
    padding: 5px;
    margin-left: 35%;
    margin-right: 30%;
    animation-duration: 10s;
}
#logo{
    opacity: 100%;
    width: 6%;
    height: 10%;
    margin-left: 45%;
    position: absolute;
}


/* @keyframes slidy {
    0% {
        left: -100%;
    }

    25% {
        left: -100%;
    }
    50% {
        left: 100%
    }
    
}
div#slider {
    overflow: hidden;
}

div#slider figure img {
    width: 20%;
    float: left;
}
figure img{
    border: 1px solid white;
}

div#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: s slidy infinite;
} */

@keyframes slidy {
    0% { left: 0%; }
    40% { left: 0%; }
    60% { left: -100%; }
    80% { left: -100%; }
    100% { left: -200%; }
    }
    
    body { margin: 0; } 
    div#slider { overflow: hidden; }
    div#slider figure img { width: 20%; float: left; }
    div#slider figure { 
      position: fixed;
      width: 500%;
      margin: 0;
      left: 0;
      text-align: left;
      font-size: 0;
      animation: 5s slidy infinite;
    }